<div class="activity">
  <% if a.trackable_type == 'status'  %>
    <%= activity.owner ? activity.owner.name : 'Guest' %>
    editou um <%= link_to 'reembolso', user_refund_path(@user, a.trackable) %>
  <% end %>
</div>
