<p>
  <b>Valor: </b>
  <%= @refund.value %>
</p>

<p>
  <b>Descrição: </b>
  <%= @refund.description %>
</p>

<p>
  <b>Status: </b>
  <%= @refund.status %>
</p>

<%= link_to 'Back', user_refunds_path %>
